<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>高手排行黑名单</title>


    <script src="/Scripts/jquery-1.6.2.js"></script>
    <script src="~/Scripts/jquery-1.6.2.min.js"></script>
    <style type="text/css">
        body {
            text-align: center;
        }
    </style>
   
    <script type="text/javascript">
        function LoadPage(){
            window.location = 'http://localhost:3579/blacklist';
        }
        $(function () {
        	$("#Btn_Click").click(function () {
        	    var data = $("#UserName").val();
        	    if (data != null && data != undefined) {
                    $.ajax({
                        type: 'GET',
                        url: 'http://localhost:3579/AddBlackList',
                        data: { 'data': data },
                        success: function (e) {
                           if (e=='True') {
                               //添加到数据库成功 刷新页面
                               alert("添加成功！");
                               LoadPage();
                           }else
                           {
                               //添加失败
                               alert("添加失败,请联系数据库管理员！");
                           }
                        }
                    });
                }
        	});
        	
        });
        function Remove (param) {
            $.ajax({
                type: 'GET',
                url: 'http://localhost:3579/RemoveUserFromBlackList?id='+param,
                success: function (e) {
                    if (e == 'True') {
                        alert("成功删除！");
                        //添加到数据库成功 刷新页面
                        LoadPage();
                    } else {
                        //添加失败
                        alert("删除失败，请联系数据库管理员！");
                    }
                }
            });
        }
    </script>
</head>
<body>
    
        <a> 添加到黑名单</a><br>
        <br />
        <br />
    <input type="text" name="UserName" id="UserName" value=" Mt4id" /> <input type="button" name="Btn_Click" id="Btn_Click" value="添加" /><br />
        <br />
        <br />
        <br />
        <a>黑名单列表</a>
        <br />
        <br />
        <table style="margin:0 auto" id="Tab1">
            <tr>
                <th style="margin:auto">用户名</th> <th style="margin:auto">余额</th> <th style="margin:auto">操作</th>
            </tr>
            
                  @for (int i = 0; i < @Model.Count; i++)
                  {
                      <tr>
                          <td style="margin:auto">@Model[i].username</td>
                          <td style="margin:auto">@Model[i].balance</td>
                          <td style="margin:auto"><a href="#" onclick="Remove(@Model[i].mt4_id)">移除</a></td> 
                      </tr> 
                  }
           
        </table>
</body>
</html>

