<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>后台管理1.0版本</title>

	<style type="text/css">

		body {
			text-align: center;
		}

	</style>

</head>
<body>
	<img src="~/Content/nancy-logo.png" alt="Nancy logo" /><br />
    <a href="http://localhost:3579/masterlist">高手推荐管理</a> <br />
    <a href="http://localhost:3579/blacklist" >高手榜单管理</a><p>高手榜单需要从MT4服务器加载黑名单中用户的账户余额 请耐心等待...</p>
</body>
</html>
