<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>后台管理1.0版本</title>

	<style type="text/css">

		body {
			text-align: center;
		}

	</style>

</head>
<body>
    <strong>排行榜后台1.0版本</strong><br/>
    <img src="~/content/d833c895d143ad4b34fd751f83025aafa50f0619.jpg"  style="width:550px; height:350px;margin:0 auto"/>       <br />
    <a href="http://108.168.193.178:3579/masterlist">高手推荐管理</a>  <br />

    <a href="http://108.168.193.178:3579/blacklist ">高手榜单管理</a>   

    <a href="http://108.168.193.178:3579/unwraptel">解绑手机号码</a>  <p>高手榜单需要从MT4服务器加载黑名单中用户的账户余额 请耐心等待...</p>
</body>
</html>
